VITE_VOTING_CONTRACT_ADDRESS=0xYourDeployedVotingContractAddress
VITE_NETWORK_NAME=ganache
VITE_GANACHE_RPC_URL=http://127.0.0.1:7545
VITE_FACE_API_URL=http://127.0.0.1:8000
VITE_SECUGEN_LICENSE=your-secu-gen-license
